<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>@ViewBag.Title -OMSI</title>
    <link type="text/css" rel="stylesheet" href="~/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="~/css/material-design-iconic-font.css">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="~/css/animate.css">
    <link type="text/css" rel="stylesheet" href="~/css/layout.css">
    <link type="text/css" rel="stylesheet" href="~/css/components.css">
    <link type="text/css" rel="stylesheet" href="~/css/widgets.css">
    <link type="text/css" rel="stylesheet" href="~/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/css/pages.css">
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap-extend.css">
    <link type="text/css" rel="stylesheet" href="~/css/common.css">
    <link type="text/css" rel="stylesheet" href="~/css/responsive.css">
    <link type="text/css" id="themes" rel="stylesheet" href="#">
</head>
<body class="login-page">
<!--Page Container Start Here-->
<section class="login-container boxed-login">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <div class="login-form-container">
                @RenderBody()
            </div>
            </div>
        </div>
    </section>
            <script src="~/js/lib/jquery.js"></script>
            <script src="~/js/lib/jquery-migrate.js"></script>
            <script src="~/js/lib/bootstrap.js"></script>
            <script src="~/js/lib/jRespond.js"></script>
            <script src="~/js/lib/hammerjs.js"></script>
            <script src="~/js/lib/jquery.hammer.js"></script>
            <script src="~/js/lib/smoothscroll.js"></script>
            <script src="~/js/lib/smart-resize.js"></script>
            <script src="~/js/lib/jquery.validate.js"></script>
            <script src="~/js/lib/jquery.form.js"></script>
            <script src="~/js/lib/j-forms.js"></script>
            <script src="~/js/lib/login-validation.js"></script>
            </body>
</html>
